*{
  box-sizing: border-box;
  background-color: yellow;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  top: 10px;
  bottom: 10px;
}
.tot{
 
  width: 90%;
  padding: 100px ;
  position: relative;
  left: 200px;
  
  

}
.columns{
 width: 25%;
 float: left;
 
 padding: 8px;
 
}
.price{
  background-color: white;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  list-style-type: none;
}
ul{
  list-style: none;
  list-style-type: none;
  background-color: white;
}
a{
 text-decoration: none;
}
li{
  background-color:white;
  text-align: center;
  color: rgb(0, 0, 0);
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
 
  color: rgb(0, 0, 0);
  font-size: 25px;
}
.header{
 
  padding: 5px;
  
}


/* List items */
.price li {
 
  padding: 20px;
  text-align: center;
}

/* Grey list item */
.price .grey {
  
  font-size: 20px;
}

/* The "Sign Up" button */
.button {
  background-color: rgb(143, 7, 143);
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 12px;
}
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
